*{
    text-align: center;
    font-size: 16px;
}
#booktable_horror{
    position: absolute;
    margin-left: 15%;
    top: 150px;
}
#booktable_roman{
    display: none;
    position: absolute;
    margin-left: 15%;
    top: 150px;
}

#bookswitch{
    margin-left: 15%;
    border:10px solid rgb(63,72,204);
    width:904px;
    height:30px;
}
#bookswitch a{
    text-decoration: none;
    color:black;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 1px;
    padding-bottom: 13px;
}
#bookswitch a:hover{
    //    text-decoration: none;
    background-color: rgb(63,72,204);
    //    color:black;
}
#opt1{
    background-color: rgb(63,72,204);

}
#opt2{
    background-color: rgb(0,162,232);

}
table,th,td{
    border-collapse: collapse;
    border: 3px solid rgb(63,72,204);
    
}
th{
   color:black; 
}
td{
    font-weight: normal;
}